.project-card {
  background: linear-gradient(90deg, #07091a, #07091a) !important;
  border: 1px solid #fff;
  transition: all ease-in-out 1s;
  overflow: hidden;
  cursor: pointer;
  height: auto !important;
  width: 100% !important;
}
.card-imgae {
  max-height: 280px !important;
  width: 100% !important;
  padding: 5px 0;
}
.project-card:hover .card-imgae {
  transform: rotate(5deg);
}
.project-card:hover .card-title {
  color: #f26c4f !important;
}
/* ... */
